@import './common.css';
@import './reset.css';
$personal_color : #e60044;

// header
.header {
    position: absolute;
    width: 100%;
    height: 100px;
    top: 0;
    left: 0;
    z-index: 1000;
}
.header-inner{
    position: relative;
    height: 100%;
    padding: 0 43px;
}
.header_side {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.logo {
    position: relative;
    padding-top: 33px;
    z-index: 20;
    img { height: 35px; }
}

.header_btn {
    display: flex;
    gap: 10px;
    align-items: center;
    z-index: 20;

    .header_btn--link {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5px;
        width: 100px;
        height: 40px;
        margin-top: 30px;
        color: #fff;
        font-weight: 600;
        font-size: 12px;
        padding: 0 10px;
        text-align: center;
        overflow: hidden;
        transition: all 0.3s;

    }
}
#markets-btn em::after{
    position: absolute;
    top: 100%;left: 0;
    right: 0;
    text-align: center;
    color: #000;
    display: block;
    content: "STORE";
    transition: all 0.3s;
}
#markets-btn{ 
    display: flex;
    flex-direction: column;
    background: var(--black); 

}
#markets-btn:hover{ 
    background: #fff;
    border: 1px solid var(--black);
}
#markets-btn:hover p{
    transform: translateY(-30px);
    transition: all 0.3s;
}
#markets-btn:hover em::after{
    transform: translateY(-25px);
    transition: all 0.3s;
}
#markets-btn #markets-ic{ display: none; }

#products-btn { 
    background: var(--main-color);
}
#products-btn em::after{
    display: block;
    position: absolute;
    top: 100%;left: 0;
    right: 0;
    text-align: center;
    color: #000;
    transition: all 0.3s;
    content: "PRODUCTS";
}
#products-btn:hover{
    background: #fff;
    border: 1px solid #e60044;
}
#products-btn:hover p{
    transform: translateY(-30px);
    transition: all 0.3s;
}
#products-btn:hover em::after{
    transform: translateY(-25px);
    transition: all 0.3s;
}
#lang-btn{
    background: var(--white);
    color:#aaaaaa;
}
#lang-btn img {
    display: flex;
    color:#aaaaaa;
}
.sitemap_btn {
    width: 50px;
    height: 50px;
    margin-top: 30px;
    background-color: transparent;
    color: #fff;
    #side_menu_icon { font-size: 22px; }
}
.gnb {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
}
.gnb_hover {
    height: 400px;
    background-color: var(--white);
    transition:all .5s;
}
.gnb__list {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    color: var(--white);
}
.gnb__item {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    padding-top: 50px;
}
.gnb__item .gnb__title.white { color: var(--white); }
.gnb02 {
    display: none;
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
    height: 100%;

    .gnb02_ul {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 50px;
        width: 100%;
        height: 100%;
        padding: 20px;
        padding-top: 100px;
        color: black;
        li{ cursor: grab; }
    }
}
.red_bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 0;
    background-color: $personal_color;
    z-index: -1;
    transition: all 0.4s;
}
.red_bg_hover {
    height: 400px;
    transition: all 0.3s;
}

// fullpage css
#fullpage{ overflow: hidden !important; }
#fp-nav.fp-right{ left: 17px; }
#fp-nav ul{
    display: flex;
    flex-direction: column;
    gap: 2px;
}
#fp-nav ul li a span
{
    margin: 0 !important;
    width: 10px !important;
    height: 10px !important;
    background: transparent !important; 
    border-radius: 0px !important; /* 원형 */
    border: 1px solid #000 !important; 
    transition: all 0.3s !important;

}
#fp-nav ul li a.active span{
    background: #000 !important;
    border: 1px solid #000;
}
.fp-watermark{
    display: none;
}


@media screen and (max-width:1400px) {
    .gnb { display: none; }
}

@media screen and (max-width:768px) {
    // header
    .header { height: 50px; }
    .header-inner{
        position: relative;
        display: flex;
        justify-content: space-between;
        height: 100%;
        padding: 0 10px;
    }
  
    .logo { padding-top: 0px; }
    .sitemap_btn {
        width: 25px;
        height: 25px;
        margin-top: 0px;    
    }
    .header_btn {
        gap: 10px;
        justify-content: end;
    
        .header_btn--link {
            gap: 0px;
            width: 70px;
            margin-top: 0px;
        }
    }
    #markets-btn{ width: 50px; }
    #markets-btn #markets-ic{ 
        display: block;
        font-size: 18px;
    }
    #markets-btn p{display: none;}
}