$personal_color : #e60044;

.background_video_wrapper {
    position: relative;
    overflow: hidden;
    height: 100vh;
    width: 100%;

    #player {
        position: absolute;
        width: 100vw;
        min-height: calc(100vh + 340px);
        min-width: 177.77vh;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}
.background_video {
    position: absolute;
    top: 0;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 0;
}
.black_bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--black);
    z-index: 10;
    opacity: 0.5;
}
.background_video_text_wrapper {
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
}

.bg_video_text_con {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    font-size: 48px;
    z-index: 20;
    color: var(--white);
    font-weight: 500;
    gap: 20px;

    .bg_video_text {
        display: flex;
        flex-direction: column;
        h1:nth-child(1) { animation: sec01_text_opacity 4s ease-in-out; }
        h1:nth-child(2) { animation: sec01_text_opacity 5s ease-in-out; }
    }
}
@keyframes sec01_text_opacity {
    0%{ opacity: 0; filter: blur(0px); }
    80%{ opacity: 0; filter: blur(1px); }
    100%{ opacity: 1; filter: blur(2px); }
}
.bg_logo_con { display: flex; }

.H_con,
.Y_con {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    width: 144px;
    height: 144px;

    .H_item:nth-child(1) {
        background: linear-gradient(to bottom, rgba(129, 124, 117, 1) 0%, rgba(255, 255, 255, 1) 100%);
        animation: logo_opacity 2s ease-in;
    }
    .H_item:nth-child(2) { background: transparent; }
    .H_item:nth-child(3) {
        background: var(--white);
        animation: logo_opacity 1s ease-in;
    }
    .H_item:nth-child(4) {
        background: linear-gradient(to right, rgba(130, 121, 115, 1) 1%, rgba(225, 223, 221, 1) 100%);
        animation: logo_opacity 2s ease-in;
    }
    .H_item:nth-child(5) {
        background: linear-gradient(to right, rgba(225, 223, 221, 1) 0%, rgba(255, 255, 255, 1) 100%);
        animation: logo_opacity 3s ease-in;
    }
    .H_item:nth-child(6) {
        background: var(--white);
        animation: logo_opacity 2.5s ease-in;
    }
    .H_item:nth-child(7) {
        background: var(--white);
        animation: logo_opacity 3.5s ease-in;
    }
    .H_item:nth-child(8) { background: transparent; }
    .H_item:nth-child(9) {
        background: linear-gradient(to bottom, rgba(195, 191, 188, 1) 0%, rgba(125, 119, 111, 1) 100%);
        animation: logo_opacity 2.8s ease-in;
    }
    .Y_item:nth-child(1) {
        background: linear-gradient(to right, rgba(127, 119, 113, 1) 1%, rgba(227, 225, 223, 1) 100%);
        animation: logo_opacity 2s ease-in;
    }
    .Y_item:nth-child(2) {
        background: linear-gradient(to right, rgba(227, 225, 223, 1) 0%, rgba(255, 255, 255, 1) 99%);
        animation: logo_opacity 3s ease;
    }
    .Y_item:nth-child(3) {
        background: var(--white);
        animation: logo_opacity 3.7s ease-in;
    }
    .Y_item:nth-child(4) { background: transparent; }
    .Y_item:nth-child(5) {
        background: linear-gradient(to bottom,  rgba(121,114,111,1) 0%,rgba(227,225,223,1) 100%);
        animation: logo_opacity 3.4s ease-in;
    }
    .Y_item:nth-child(6) { background: transparent; }
    .Y_item:nth-child(7) { background: transparent; }
    .Y_item:nth-child(8) {
       background: linear-gradient(to bottom,  rgba(227,225,223,1) 0%,rgba(255,255,255,1) 100%);
       animation: logo_opacity 3.9s ease-in;
    }
    .Y_item:nth-child(9) { background: transparent; }
}

.H_item,
.Y_item {
    background-color: var(--white);
    width: 48px;
    height: 48px;
}

@keyframes logo_opacity {
    0% { opacity: 0; }
    100% { opacity: 1; }
}


.scroll_con {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translate(-50%, -10px);
    font-size: 12px;
    height: 20px;
    overflow: hidden;
    span {
        display: inline-block;
        animation: scroll_con_ani 1.5s ease-in-out infinite;
    }
    span:nth-child(1) { animation-delay: 0s; }
    span:nth-child(2) { animation-delay: 0.05s; }
    span:nth-child(3) { animation-delay: 0.06s; }
    span:nth-child(4) { animation-delay: 0.07s; }
    span:nth-child(5) { animation-delay: 0.08s; }
    span:nth-child(6) { animation-delay: 0.09s; }
    span:nth-child(7) { animation-delay: 0.1s; }
    span:nth-child(8) { animation-delay: 0.11s; }
    span:nth-child(9) { animation-delay: 0.12s; }
    span:nth-child(10) { animation-delay: 0.13s; }
}

@keyframes scroll_con_ani {
    0% {
        transform: translateY(-10px);
        opacity: 0;
    }
    20% {
        transform: translateY(0px);
        opacity: 1;
    }
    60% {
        transform: translateY(0px);
        opacity: 1;
    }
    100% {
        transform: translateY(20px);
        opacity: 0;
    }
}

// section02 css

.section02_wrapper {
    display: flex;
    height: 100vh;
}
.section02 article{ visibility: hidden; }
.sec02_article_left {
    position: absolute;
    top: 0;
    left: 0;
    width: 33.3vw;
    height: 100%;
    background: url(../img/section02_bg01.jpg)no-repeat 70% 50%;
    background-size: cover;
}
.sec02_right_con {
    display: flex;
    flex-direction: column;
    padding-left: 33.3vw;
    .sec02_article_right:nth-child(1) { background: url(/assets/img/section02_bg02.jpg)no-repeat 70% 50%; }
    .sec02_article_right:nth-child(2) { background: url(/assets/img/section02_bg03.jpg)no-repeat 70% 50%; }
}
.sec02_article_right {
    position: relative;
    height: auto;
    height: 50%;
    width: 66.67vw;
    background-size: cover;
}
.sec02_text-block{
    position: absolute;
    top: 100px;
    left: 100px;
}
.sec02_title {
    color: $personal_color;
    font-weight: 600;
    font-size: 2em;
    margin-bottom: 1.5em;
}
.sec02_sub {
    font-weight: 900;
    letter-spacing: -0.5px;
    font-size: 40px;
    margin-bottom: 1.1em;
    line-height: 50px;
}
.sec02_plus_btn {
    display: flex;
    position: relative;
}
.sec02_plus {
    display: flex;
    width: 50px;
    height: 50px;
    z-index: 1;

    #plus_icon {
        width: 100%;
        height: 100%;
        font-size: 45px;
        display: flex;
        justify-content: center;
        align-items: center;
        animation: plus01 0.3s;
    }
    #plus_icon:hover { animation: plus 0.3s; }
}
.sec02_plus_box {
    position: absolute;
    left: -10px;
    overflow: hidden;
    height: 1em;
    opacity: 0;
    transition: all 0.3s;
    width: 130px;
    height: 50px;

    p {
        margin-top: 15px;
        font-size: 18px;
        display: flex;
        justify-content: center;
    }

}

.sec02_plus_btn:hover .sec02_plus_box {
    left: 50px;
    opacity: 1;
    width: 130px;
}

// section03 css
.section03_wrapper {
    position: relative;
    height: 100vh;
    color: #000;
}
.section03_text_wrapper {
    position: absolute;
    top: 100px;
    left: 100px;
}
.sec03_text_con,
.sec03-item
{visibility: hidden;}
.sec03-tit {
    font-size: 4.6vw;
    font-weight: 400;
    letter-spacing: -2, 5px;
    margin-bottom: 0.5em;
}
.sec03-subtit {
    font-size: 2.6vw;
    color: #eee;
    letter-spacing: -1px;
    margin-bottom: 1em;
}
.sec03-txcontent{
    font-size: 2vw;
    line-height: 1.4;
    letter-spacing: 1.12;
    span{font-weight: bold;}
}
.section03_img_wrapper {
    position: absolute;
    right: 100px;
    bottom: 100px;
    .sec03-list {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(2,auto);
        gap: 20px;
    }
    .sec03-item {
        position: relative;
        width: 300px;
        height: 300px;
        span {
            position: absolute;
            bottom: 30px;
            left: 30px;
            font-size: 28px;
            font-weight: 900;
            color: #fff;
        }
    }
}
.sec03-list {
    .sec03-item:first-child {
        grid-column: 2;
        background: black url(/assets/img/sec03_T.png) no-repeat 100% 0%;
        background-size: 60% 60%;
    }
    .sec03-item:nth-child(2) {
        background: black;
        background-size: cover;
    }
    .sec03-item:last-child {
        background: $personal_color url(/assets/img/sec03_H.png) no-repeat 100% 0%;
        background-size: 60% 60%;
    }
}

// section04 css
.sec04_wrapper {
    position: relative;
    width: 100vw;
    height: 100vh;
    background: #ccc;
}
.sec04_top {
    position: absolute;
    top: 0;
    left: 0;

    .sec04_top_list {
        display: flex;
        width: 100%;
        height: 50vh;

        .sec04_item {
            position: relative;
            width: 25vw;
            height: auto;
            overflow: hidden;
        }

        .sec04_item:nth-child(1) .sec04_img_con {
            background: url(/assets/img/sec04_img01.jpg) no-repeat;
            background-size: cover;
        }
        .sec04_item:nth-child(2) .sec04_img_con {
            background: url(/assets/img/sec04_img02.jpg) no-repeat;
            background-size: cover;
        }
        .sec04_item:nth-child(3) .sec04_img_con {
            background: url(/assets/img/sec04_img03.jpg) no-repeat;
            background-size: cover;
        }
        .sec04_item:nth-child(4) .sec04_img_con {
            background: url(/assets/img/sec04_img04.png) no-repeat;
            background-size: cover;
        }
    }
}

.sec04_img_con {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: all 0.5s;
}
.sec04_top_text {
    position: absolute;
    bottom: 2.6vw;
    left: 2.6vw;
    right: 2.6vw;
    color: #fff;
    font-size: 14px;
    z-index: 20;
    p {
        letter-spacing: -0.25px;
        margin-bottom: 20px;
        font-size: 18px;
    }
    strong {
        letter-spacing: -0.5px;
        font-weight: 600;
        margin-bottom: 1.25em;
        font-size: 28px;
        line-height: 1.66;
    }
    small {
        opacity: 0.35;
        letter-spacing: -0.25px;
    }
}
.sec04_bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50%;
}
.sec04_bottom_bg {
    background: url(/assets/img/main_invest_bg.jpg) no-repeat 50% 50%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
}
.sec04_bottom_content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    gap: 100px;
}
.sec04_bottom_text {
    p:nth-child(3) {
        font-size: 1.2em;
        font-weight: 400;
        letter-spacing: -0.5px;
        opacity: 0.5;
        line-height: 1.5;
        margin-bottom: 20px;
    }
}

.sec04_bottom_btn {
    position: relative;
    width: 50px;
    height: 50px;

    button {
        width: 100%;
        height: 100%;
        background-color: $personal_color;
    }
    #more {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 24px;
        color: #fff;
        transition: all 0.5s;
        z-index: 10;
    }
}
.sec04_bottom_btn:hover .sec04_more {
    opacity: 1;
    animation: plus03 ease 0.3s;
    width: 100px;
}
.sec04_bottom_btn:hover .sec04_more_text em {
    line-height: 0px;
    transition: all 0.7s;
    opacity: 1;
}
#more:hover {
    transform: rotate(180deg);
    transition: all 1s;
}
.sec04_more {
    width: 0px;
    height: 50px;
    background-color: $personal_color;
    position: absolute;
    top: 0;
    left: 50px;
    opacity: 0;
    transition: all 1s;

    .sec04_more_text {
        color: #fff;
        display: inline-block;
        position: absolute;
        top: 40%;
        left: 15px;
        overflow: hidden;
        height: 1em;
        em { line-height: 100px; }
    }
}

.sec04_bottom_right {
    display: flex;
    gap: 10px;
}

.sec04_bottom_item {
    width: 15vw;
    height: 25vh;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    transition: all 0.5s;

    p {
        font-size: 20px;
        font-weight: 600;
        letter-spacing: -0.25px;
        opacity: 0.9;
    }
}
.sec04_bottom_item:hover {
    transition: all 0.5s;
    background-color: #e60044;
}

// section05 css
.section05 { height: 70vh; }
.sec05_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10vw;
    padding: 100px 0;
    background: url(/assets/img/main_brand_video_bg.jpg)no-repeat;
    background-size: cover;
    color: var(--black);
}
.title_red {
    color: $personal_color;
    margin-bottom: 20px;
    font-weight: 600;
    font-size: 20px;
}
.main_title {
    font-size: 3em;
    font-weight: 900;
    letter-spacing: -0.5px;
}
.sub_title {
    font-size: 1.3em;
    font-weight: 400;
    letter-spacing: -0.5px;
    opacity: 0.5;
    margin-bottom: 30px;
    line-height: 1.5;
}
.sec05_video_con {
    #sec05_video {
        width: 770px;
        height: 433px;
    }
}

// footer css
.footer { }
.footer-wrapper{
    display: flex;
    justify-content: space-between;
    width: 1400px;
    margin: 0 auto;
}
.footer_item {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid rgb(164, 164, 164, 0.5);
    color: #bbb;
}
.footer_left,
.footer_right {
    display: flex;
    gap: 2em;
    font-weight: 600;
    font-size: 14px;
    padding: 20px 0;

    ul {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
}
.footer_right {
    ul { li:nth-child(1) { font-size: 15px; } }
}

.slide_wrapper {
    display: flex;
    overflow: hidden;
}

.slide_track {
    display: flex;
    animation: scroll 20s linear infinite;
    gap: 30px;
    padding: 10px 0;
}
.slide_track .slide{ width: 100px; }


.icon_con {
    display: flex;
    font-size: 24px;
    gap: 2em;
}


@keyframes scroll {
    0% { transform: translateX(0); }
    100% { transform: translateX(-100%); }
}
@keyframes plus03 {
    0% { width: 0px; }
    100% { width: 100px; }
}
@keyframes plus01 {
    0% { transform: rotate(180deg); }
    100% { transform: rotate(0deg); }
}
@keyframes plus {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(180deg); }
}



// media screen
@media screen and (max-width : 1300px) {
    

    .main_title {
        font-size: 2.5em;
        font-weight: 900;
        letter-spacing: -0.5px;
        margin-bottom: 20px;
    }

    .title_red {
        font-size: 12px;
    }

    .sec05_video_con {
        #sec05_video {
            width: 670px;
            height: 333px;

        }
    }

    .first {
        .footer_left {
            flex-direction: column;
        }

        .footer_right {
            flex-direction: column;
        }
    }
}

@media screen and (max-width : 1030px) {
    .bg_video_text_con {
        display: flex;
        flex-direction: column;
        font-size: 38px;
        padding-bottom: 100px;
    }

    .sec02_sub {
        font-size: 24px;
    }

    .sec04_bottom_content {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        color: #fff;
        gap: 10px;
        padding: 20px 0 50px 50px;
    }

    .sec04_wrapper {
        position: relative;
        width: 100vw;
        height: 100vh;
    }

    .sec04_bottom_item {
        width: 150px;
        height: 150px;
        background-color: rgba(255, 255, 255, 0.1);
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
        transition: all 0.5s;

        p {
            font-size: 20px;
            font-weight: 600;
            letter-spacing: -0.25px;
            opacity: 0.9;
        }
    }

    .sec05_wrapper {
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;
        gap: 5vw;
        padding-top: 10vh;
        padding-left: 10vw;
        background: url(../src/img/hyundai/main_brand_video_bg.jpg)no-repeat;
        background-size: cover;
    }

    .footer_item {
        position: relative;
        border-top: 1px solid rgb(164, 164, 164, 0.5);
        padding: 10px 20px 10px 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: #bbb;
        overflow: hidden;

    }

}
// mobile
@media screen and (max-width : 786px) {
  

    .section02_wrapper { flex-direction: column; }

    .sec02_article_left {
        position: relative;
        width: 100%;
        height: 33vh;
        background: url(/assets/img/section02_bg01_m.jpg)no-repeat 70% 50%;
        background-size: cover;
    }

    .sec02_right_con {
        padding-left: 0px;
        .sec02_article_right:nth-child(1) {
            height: 33vh;
            background: url(/assets/img/section02_bg02_m.jpg)no-repeat 70% 50%;
        }
        .sec02_article_right:nth-child(2) {
            height: 33vh;
            background: url(/assets/img/section02_bg03_m.jpg)no-repeat 70% 50%;
        }
    }
    .sec02_article_right { width: 100%; }
    .sec02_text-block{
        position: absolute;
        top: 50px;
        left: 50px;
    }
    .sec02_text-block > div{ margin-bottom: 10px; }
   
    .sec02_plus { display: none; }
    .sec02_plus_box { opacity: 1; }

    .section03_text_wrapper { }

    .section03_img_wrapper {
        position: absolute;
        right: 0px;
        bottom: 30px;
        width: 100%;
        .sec03-list {
            display: flex;
            flex-direction: column;
            gap: 10px;
        }
        .sec03-item {
            width: 100%;
            height: 150px;
            span {
                position: absolute;
                bottom: 10px;
                left: 10px;
            }
        }
    }
    .section03_text_wrapper {
        top: 50px;
        left: 50px;
    }
    .sec03-list {
        .sec03-item:first-child { background-size: 20% 100%; }
        .sec03-item:last-child { background-size: 20% 100%; }
    }
    .sec03-tit { font-size: 2em; }
    .sec03-subtit { font-size: 2em; }
    .sec03-txcontent{ font-size: 1em; }

    .sec04_bottom_item { width: 130px; height: 130px; }

    .sec05_video_con {
        #sec05_video {
            width: 100%;
            height: auto;
        }
    }

    .footer_item.second { display: none; }
}